<div class="m_bottom" >
						<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
							  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a9.jpg" class="img-circle" alt="...">
								</a>
								<div class="m-l-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">小鱼儿</a>
									<span class="text-muted m-l-sm pull-right">
									  现在
									</span>
								  </div>
								  <div class="m-b">
									<div>不哭不闹不炫耀，安安分分一起老。不骂不吵不张扬，安安分分一起过。就算逃到天涯海角，也决不回头。就算哭到世界灭亡，也决不后悔。我想依靠你 永远在我旁边带路。我想牵着你 永远只会为你带路。偶尔有点小任性，为了等待你安抚。偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。
			蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。</div>
									<div class="m-t-sm">
									  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
									</div>
								  </div>
								</div>
							  </div>
							  <!-- .comment-reply -->
							  <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a5.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  10m ago
									</span>
									<a href="">大张李</a>
									希望你能每天都快乐                         
								  </div>
								</div>
							  </div>
				
							</div>
						  </div>
					</div>