						
<div class="m_bottom" >
						<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
							 

							 <div>
							<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a6.jpg" class="img-circle" alt="...">
								</a>
								<div class="m-l-lg m-b-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">帕金森</a>
									<span class="text-muted m-l-sm pull-right">
									  3h ago
									</span>
								  </div>
								  <div class="m-b">
									<div class="m-b">
									日动影移，日穿帘隙，时间悄无声息地离去。不知不觉，那么多渐行渐远的岁月，如今只剩下依稀的背影，翻过岁月的篱墙，面对那些悄然散场的旧时光，莞尔一笑，只言感恩岁月，不诉岁月离殇。
									</div>
									<img src="images/c5.jpg" class="b b-a wrapper-xs bg-white img-responsive">
									<div class="m-t-sm">
									  <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
									  <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
									</div>
								  </div>
								</div>
							  </div>
							  <!-- .comment-reply -->
							
							  <!-- / .comment-reply -->
							
							  
							
					
							</div>
						  </div>
					</div>


























