<div class="m_bottom" >
						<div class="padder">      
							<div class="streamline b-l b-info m-l-lg m-b padder-v">
						
							
							  
							  <div  ng-click="commentToggle()">
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a4.jpg" class="img-circle" alt="...">
								</a>
								<div class="m-l-lg m-b-lg">
								  <div class="m-b-xs">
									<a href="" class="h4">请叫我大帅柯</a>
									<span class="text-muted m-l-sm pull-right">
									  4h ago
									</span>
								  </div>
								  <div id="comment">
									<div class="m-b">
									这世界上的很多事，有时候和我们眼睛看到的不一样。很多时候要我们慢慢地体会才会知道。我们不能急着看结果，就像种下一棵小花，你要耐心地等它破土发芽，慢慢长大，才能看到它开出美丽的花。尘世间的事也一样，要在时间里发酵，岁月里沉香，人生那些百思不得其解的事情，到后来时间会一一给你答案。岁月有时候特别用心良苦，它时常会给你很多磨难，其实它是想让你变得更好。
									</div>


<div id="commentText">

  							 <div class="m-l-lg">
								<a class="pull-left thumb-sm avatar">
								  <img src="images/a5.jpg" alt="...">
								</a>          
								<div class="m-l-xxl panel b-a">
								  <div class="panel-heading pos-rlt">
									<span class="arrow left pull-up"></span>
									<span class="text-muted m-l-sm pull-right">
									  10m ago
									</span>
									<a href="">大张李</a>
									希望你能每天都快乐                         
								  </div>
								</div>
							  </div>

</div>
									<!-- textarea -->
									<div class="panel panel-default m-t-md m-b-n-sm pos-rlt" ng-show="commentshow">
									  <form>
										<textarea id="dataText" class="form-control no-border" rows="3" placeholder="Your comment..."></textarea>
									  </form>
									  <div class="panel-footer bg-light lter">
										<button class="btn btn-info pull-right btn-sm" ng-click="putComment()">评论</button>
										<ul class="nav nav-pills nav-sm">
										  <li><a href=""><i class="fa fa-camera text-muted"></i></a></li>
										  <li><a href=""><i class="fa fa-video-camera text-muted"></i></a></li>
										</ul>
									  </div>
									</div>
									<!-- textarea -->

								  </div>
								</div>
							  </div>
						<!-- 	  <div>
								<a class="pull-left thumb-sm avatar m-l-n-md">
								  <img src="images/a2.jpg" alt="...">
								</a>          
								<div class="m-l-lg panel b-a">
								  <div class="panel-heading pos-rlt b-b b-light">
									<span class="arrow left"></span>
									<a href="">月亮的影子</a>
									<label class="label bg-light m-l-xs">VIP</label> 
									<span class="text-muted m-l-sm pull-right">
									  9h ago
									</span>
								  </div>
								  <div class="panel-body">
									<blockquote>
									  <p>孩子的时候，我们简单地把人划分为好人或坏人。只是后来长大了，知道了，好人没有你想象的那么好，坏人也没有你想象的那么坏。正如，外表坚强的人，也许内心很脆弱，而外表柔弱的人，却有着一颗强韧的心。</p>
									  <small>穿起越云层的时间 <cite title="Source Title">源标题</cite></small>
									</blockquote>
									<div>穿起越云层的时间</div>
								  </div>
								</div>
							  </div> -->
							</div>
						  </div>
					</div>